.presentationText {
  width: 636px;
  color: var(--Solid-Heading, #42446e);
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
}

.presentationTextDark {
  width: 636px;
  color: #d9d9d9;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
}

.presentationTextName {
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

.presentationPicture {
  width: 349px;
  height: 349px;
  flex-shrink: 0;
  border-radius: 230px;
  border: 9px solid #e70faa;
  background: url(../../assets/imagens/miguel.jpg),
    lightgray 50% / cover no-repeat;
}

.presentationDark {
  background: var(--Dark-Mode, #191919);
}

/*--------------------------------------------------------------*/

.textPresentLightMobile {
  width: 100%;
  color: var(--Solid-Heading, #42446e);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 120.69% */
  letter-spacing: -1px;
}

.textPresentDarkMobile {
  width: 100%;
  color: var(--Solid-Heading, #d9d9d9);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 120.69% */
  letter-spacing: -1px;
}

.presentationTextNameMobile {
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
}

.presentationPictureMobile {
  margin-right: 15px;
  width: 149px;
  height: 149px;
  flex-shrink: 0;
  border-radius: 130px;
  border: 5px solid #e70faa;
  background: url(../../assets/imagens/miguel.jpg);
  background-size: cover;
}
