#home {
    background-color:#f1f1f1; /* Cor de fundo do menu */
    color: #333; /* Cor do texto do menu */
    padding: 15px; /* Espaçamento interno do menu */
    width: 100%; /* Largura total do menu */
    height: 150px;
    position: fixed; /* Torna o menu fixo */
    top: 0; /* Alinha o menu ao topo da página */
    z-index: 1000; /* Define a ordem de empilhamento, caso haja sobreposição com outros elementos */
  }

#homeDark {
  background-color: #151515; /* Cor de fundo do menu */
  color: #fff; /* Cor do texto do menu */
  padding: 15px; /* Espaçamento interno do menu */
  width: 100%; /* Largura total do menu */
  height: 150px;
  position: fixed; /* Torna o menu fixo */
  top: 0; /* Alinha o menu ao topo da página */
  z-index: 1000; /* Define a ordem de empilhamento, caso haja sobreposição com outros elementos */
}

.itemMenuHeader {
    margin-left: 60px;
    cursor: pointer;
    color: #666;
    text-align: center;
    /* Buttons / Big */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
}

.itemMenuHeader:hover {
    background-color: rgb(199, 199, 226);
    border-radius: 4px;  
}

.itemMenuHeaderDark {
    margin-left: 60px;
    cursor: pointer;
    color: var(--light-Content, #A7A7A7);
    text-align: center;
    /* Buttons / Big */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
}

.itemMenuHeaderDark:hover {
    background-color: #000000;
    border-radius: 4px;
}

.botaoLight {
    width: 120px;
    background-color: #ffffff; /* Fundo branco */
    color: #000000; /* Texto preto */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: 1px solid #000000; /* Borda preta (opcional) */
    border-radius: 7px; /* Borda arredondada (opcional) */
    letter-spacing: 3px; /* Espaçamento entre letras */
    text-align: center; /* Centralizar o texto */
    text-decoration: none; /* Remover sublinhado padrão em links (opcional) */
    display: inline-block; /* Tornar o botão um bloco inline */
    font-size: 20px; /* Tamanho da fonte */
    font-weight: 400;
    cursor: pointer; /* Cursor ao passar o mouse sobre o botão */
}

.botaoDark {
    width: 120px;
    background-color: #000000; /* Fundo branco */
    color:  #ffffff; /* Texto preto */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: 1px solid #000000; /* Borda preta (opcional) */
    border-radius: 7px; /* Borda arredondada (opcional) */
    letter-spacing: 3px; /* Espaçamento entre letras */
    text-align: center; /* Centralizar o texto */
    text-decoration: none; /* Remover sublinhado padrão em links (opcional) */
    display: inline-block; /* Tornar o botão um bloco inline */
    font-size: 20px; /* Tamanho da fonte */
    font-weight: 400;
    cursor: pointer; /* Cursor ao passar o mouse sobre o botão */
}

.botaoLight:hover {
    border: 5px solid rgb(80, 80, 232);
}

.botaoDark:hover {
    border: 5px solid rgb(80, 80, 232);
}

.darkPage {
    background: var(--Dark-Mode, #191919);
}

/*--------------------------------------------------------------*/

.botaoLightMobile {
        width: 90px;
        margin-top: 20px;
        margin-left: 15px;
        background-color: #ffffff; /* Fundo branco */
        color: #000000; /* Texto preto */
        padding: 10px 20px; /* Espaçamento interno do botão */
        border: 1px solid #000000; /* Borda preta (opcional) */
        border-radius: 7px; /* Borda arredondada (opcional) */
        letter-spacing: 3px; /* Espaçamento entre letras */
        text-align: center; /* Centralizar o texto */
        text-decoration: none; /* Remover sublinhado padrão em links (opcional) */
        display: inline-block; /* Tornar o botão um bloco inline */
        font-size: 12px; /* Tamanho da fonte */
        font-weight: 400;
        cursor: pointer; /* Cursor ao passar o mouse sobre o botão */
    
}

.botaoLightMobile:hover {
    border: 3px solid rgb(80, 80, 232);
}

.botaoDarkMobile {
    width: 90px;
    margin-top: 20px;
    margin-left: 15px;
    background-color: #000000; /* Fundo branco */
    color: #ffffff; /* Texto preto */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: 1px solid #000000; /* Borda preta (opcional) */
    border-radius: 7px; /* Borda arredondada (opcional) */
    letter-spacing: 3px; /* Espaçamento entre letras */
    text-align: center; /* Centralizar o texto */
    text-decoration: none; /* Remover sublinhado padrão em links (opcional) */
    display: inline-block; /* Tornar o botão um bloco inline */
    font-size: 12px; /* Tamanho da fonte */
    font-weight: 400;
    cursor: pointer; /* Cursor ao passar o mouse sobre o botão */

}

.botaoDarkMobile:hover {
border: 3px solid rgb(80, 80, 232);
}
